.feedback{

  .page-title{
  }
  &__item {
    margin-bottom: 44px;
    img {
      margin-bottom: 30px;
      width: 100%;
      max-width: 100%;
      &:last-of-type {
        margin-bottom: 39px;
      }
    }
    video{
      max-width: 100%;
    }
    .video{
      position: relative;
      margin-bottom: 30px;
      button{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        background-color: rgb(187, 162, 148);
        width: 105px;
        height: 105px;
        border:0;
        cursor: pointer;
        transition: all .2s;
        .triangle{
          -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
          background: white;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 8px;
          right: 0;
          margin: auto;
        }
        &:hover{
          background: $gray;
        }
      }
    }
    .text {
      font-size: 15px;
      font-family: "Proxima Nova Rg";
      color: rgb(65, 67, 73);
      line-height: 1.5;
      margin-bottom: 43px;
      @media(min-width: $xxl-width) {
        font-size: 17px;
      }
    }
    .link {
      font-size: 11px;
      font-family: "Proxima Nova Rg";
      color: rgb(187, 162, 148);
      text-transform: uppercase;
      font-weight: bold;
      line-height: 2;
      letter-spacing: 2px;
      &:hover{
        color: $gray;
        text-decoration: none;
      }
    }
  }

  &__new-item{
    background-color: rgb(218, 204, 191);
    width: 100%;
    padding: 22px;
    .plus{
      border-radius: 50%;
      background-color: rgb(187, 162, 148);
      width: 81px;
      height: 81px;
      text-align: center;
      font-size: 55px;
      font-family: "Helvetica Neue1";
      color: rgb(218, 204, 191);
      line-height: 1.582;
      position: absolute;
      top: -50px;
      left: 0;
      right: 0;
      margin: auto;
      font-weight: 100;
    }
    .body{
      position: relative;
      border: 2px solid rgb(187, 162, 148);
      padding: 52px 25px 40px;
      text-align: center;
      @media(min-width: $xxl-width){
        padding: 86px 55px 55px;

      }
    }
    .title{
        font-size: 26px;
        font-family: "Helvetica Neue1";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.5;
        text-align: center;
      letter-spacing: 3.5px;
      font-weight: 100;
      padding: 0 10px;
      margin-bottom: 50px;
      @media(max-width: 1199px){
        font-size: 20px;
        padding: 0;
      }
    }
    .subtitle{
        font-size: 12px;
        font-family: "Proxima Nova Lt";
        color: rgb(187, 162, 148);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
      letter-spacing: 3.5px;
      margin-bottom: 27px;
      @media(max-width: 1199px){
        font-size: 13px;
      }
    }
    .btn-black{
      width: 100%;
      font-size: 12px;
    }
  }
}