body {
  position: relative;
  padding-top: 128px;
  font-family: "Proxima Nova Rg", sans-serif;
  @media (max-width: 1199px) {
    padding-top: 45px;
  }
}



.select2-dropdown ul li::before {
  display: none;
}

.well {
  margin-bottom: 0px !important;
}
.hello-world {
  color: red;
}

ul {
  padding: 0;
  margin-bottom: 1.5rem;
  list-style: none;
  li {
    padding-left: 20px;
    position: relative;
    font-size: 18px;
    font-family: "Proxima Nova Rg";
    color: #414349;
    line-height: 1.556;
    &::before {
      content: "";
      position: absolute;
      left: 6px;
      top: 12px;
      width: 3px;
      height: 3px;
      background: #bba294;
    }
  }
}

.ya-share2__item {
  padding: 0;
  &::before {
    display: none;
  }
}



.procedures-slider .owl-stage-outer::after {
  content: '';
  position: absolute;
  right: 0;
  width: 3px;
  top: 0;
  bottom: 0;
  background-color: #f3f3f3;
  z-index: 10;
}



.sticky-menu .col-12 {
  margin-bottom: -20px;
}


.sticky-menu .js-sticky-menu__item {
  padding-bottom: 20px;
}